{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.10.3"}
           org.clojure/clojurescript {:mvn/version "1.10.879"}}
 :aliases {:dev      {:extra-paths ["dev"]}
           :test     {:extra-paths ["test"]}
           :test-run {:extra-paths ["test"]
                      :main-opts   ["-m" "cork.warp-test"]}}}
